.flight-management-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar-container {
    flex: 0 0 250px; /* Điều chỉnh chiều rộng của sidebar theo nhu cầu */
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.filter-container {
    margin-bottom: 20px; /* Khoảng cách giữa filter và booking */
}

.booking-container {
    flex: 1;
}
